.leaflet-container { height: 68vh; }

.map-card .segment:empty { display: none; }
.map-card .expandable.description:not(:focus-within, :hover), .leaflet-popup .description { overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5; }
.map-card .value-list > dt + dd::before { content: ": "; }
.map-card .value-list > dd + dd::before { content: ", "; }
.map-card .value-list > dt::after, .map-card .value-list > dd::after { content: none !important; }
.map-card .value-list > dt { font-weight: bold; }
.map-card .value-list > dd { display: contents !important; margin: 0 !important; }

@media only screen and (max-width:991px){
  .fixed.sticky { position: absolute !important; }
}